{{- template "bashrc.tmpl" . {{ if eq .chezmoi.os "linux" }}
linux-specific-file
{{ end }}

{{ if eq .chezmoi.os "darwin" }}
macos-specific-file
{{ end }}

{{ if eq .chezmoi.os "windows" }}
windows-specific-file
{{ end }}
-}}
